.app {
    min-height: 100vh;
    background-color: #1E1F26;
    color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
}

input,
button
{
    outline: 0;
    border: 0;
}

button {
    cursor: pointer;
}


